.alt-screen-header {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 20px;
  background-color: white;
}

.alt-screen-header__title {
  font-size: 25px;
  font-weight: 500;
}

.alt-screen-header__column {
  width: 33%;
}

.alt-screen-header__column:nth-child(2) {
  text-align: center;
}

.alt-screen-header__column:last-child {
  display: flex;
  justify-content: end;
}

.alt-screen-header__column:last-child i {
  margin-left: 20px;
}
