.nav {
  background-color: #f9f9fa;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  padding: 20px 45px;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.nav__alert {
  display: flex;
  background-color: tomato;
  height: 5px;
  width: 5px;
  border-radius: 2.5px;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
