.screen-header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 20px;
  background-color: white;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}

.screen-header-icons__icon {
  margin-left: 25px;
  position: relative;
}

.screen-header__dot {
  position: absolute;
  bottom: 25px;
  left: 20px;
}
