.screen-division__title {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
}

.screen-division__title div {
  color: rgba(0, 0, 0, 0.3);
}

.screen-division__title--more-top-margin {
  margin-top: 10px;
}
