.screen-header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 20px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}

.screen-header__icon span {
  margin-left: 25px;
}
